#principal {
    width: 900px;
}

body {
    font-family:'Segoe UI';
    background: #D2D2C1;

}
#menu{
    color:#4B566A;
    background: #C5C5B2;
    padding: 20px;
    text-align: center;
}
#conteudo{
    padding: 20px;
    background: #E8E8D9;
}

#rodape {
    text-align: center;
}
a{
    text-decoration: none;
    color:#4B566A;
    font-weight: bold;
    padding: 10px;
}
h1{
    color:#828271;
    font-size: large;
}

.campanha{
    border: 10px solid #c3c3a3;
}
h2{
    color: #828271;
    font-size: medium;
}
